@font-face {
  font-family: "roboto";
  src: url("../media/roboto-regular-webfont.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shelf {
  background-color: rgb(241, 245, 244);
  padding: 1rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 9rem;
}

.book {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0.2rem 0.2rem rgb(228, 228, 228);
  border-radius: 0 0.5rem 0.5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book .title {
  font-family: "roboto";
  margin-bottom: 0.5rem;
}
.book .author {
  font-family: sans-serif;
  color: seagreen;
  font-weight: bold;
}
.book .pages {
  color: orange;
}

.new-button {
  font-size: 1.4em;
  border: none;
  padding: 0.5rem 1rem;
  background-color: lightblue;
}

dialog {
  padding: 1rem;
  /* to center the dialog box */
  margin: auto;
}

/* form elements */
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1.5rem;
  gap: 1rem;
}

form > button {
  grid-column: span 2;
}
form > button[type="button"] {
  justify-self: start;
}
form > button {
  padding: 0 0.4rem;
}

input {
  padding: 0.4rem;
}